<div class="card border-primary mb-3 me-2" style="width: 20rem;">
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <span style="float:right" *ngIf="!product.isWishlist" (click)="isWishlistClicked($event)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                        viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                </span>
                <span style="float:right" *ngIf="product.isWishlist" (click)="isWishlistClicked($event)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="mx-2" style="text-align:center">
                    <h5 class="card-title">{{product.productName}}</h5>
                </span>
            </div>            
        </div>       
        <img [src]="product.image" class="d-block w-100" alt="Biscuits" height="200" width="200"/>
    </div>
    <div class="card-body text-primary">
        <div class="row">
            <div class="col-8">
                <label for="quantity" style="font-weight:600;color:lightgrey;font-size:14px">Price</label>
                <p style="font-weight:700;font-size: 22px; color:rgba(0,3,3,0.9)">{{product.price}}</p>
            </div>
            <div class="col-4" style="text-align: right;">
                <label for="quantity" style="font-weight:600;color:lightgrey;font-size:14px">Quantity</label>
                <p-inputNumber [(ngModel)]="quantity" mode="decimal" [showButtons]="true"
                    buttonLayout="horizontal" spinnerMode="horizontal" decrementButtonClass="p-button-secondary"
                    incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"></p-inputNumber>
            </div>
        </div>
    </div>
    <div class="card-footer">        
        <span style="display: flex;justify-content: center;align-items: center;" 
            (click)="onAddToCart($event)">
            <button type="button" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg><span class="mx-2 my-2">Add to Bag</span></button>
        </span>        
    </div>
</div>